$interaction-10: #f2f3ff;
$interaction-20: #ccd0ff;
$interaction-30: #b3b8ff;
$interaction-40: #99a0ff;
$interaction-50: #6671ff;
$interaction-60: #3341ff;
$interaction-buttons: #0012ff;
$interaction-80: #1700a6;
$interaction-90: #0e0063;
$interaction-100: #03023c;

$positive-10: #edf7ef;
$positive-20: #c3eacd;
$positive-30: #82d99f;
$positive-40: #5abf6a;
$positive-50: #42ab46;
$positive-60: #15791f;
$positive-text: #0d6033;
$positive-80: #054304;
$positive-90: #02330f;
$positive-100: #091f0f;

$negative-10: #ffeaea;
$negative-20: #ffd7da;
$negative-30: #ffb3b8;
$negative-40: #ff8088;
$negative-50: #e73f45;
$negative-60: #db1e24;
$negative-text: #a2171b;
$negative-80: #750e15;
$negative-90: #520309;
$negative-100: #33080b;

$warning-10: #fff8f3;
$warning-20: #ffead1;
$warning-30: #f7ac19;
$warning-40: #d68f04;
$warning-50: #b68f04;
$warning-text: #8e5e00;
$warning-70: #6b5200;
$warning-80: #523f00;
$warning-90: #423500;
$warning-100: #2e2300;

$grey-background: #f7f9fc;
$grey-stroke-divider: #e6eaf4;
$text-placeholder: #b1bcd2;
$text-label: #787b94;
$text-caption: #8f92b4;
$text-subheading: #737695;
$text-default: #00163e;

$grey-white: #ffffff;
$grey-10: #f6f6f6;
$grey-20: #e2e2e2;
$grey-30: #cacaca;
$grey-40: #a1a1a1;
$grey-50: #848484;
$grey-60: #5e5e5e;
$grey-70: #4d4d4d;
$grey-80: #414141;
$grey-90: #2b2b2b;
$grey-black: #1d1d1d;

$emerald-10: #f4fffb;
$emerald-20: #dffcf2;
$emerald-30: #bef0d9;
$emerald-40: #74d4b8;
$emerald-50: #2fca83;
$emerald-60: #42a889;
$emerald-70: #2d8978;
$emerald-80: #1b695b;
$emerald-90: #163933;
$emerald-100: #002620;

$rosewood-10: #fff5f9;
$rosewood-20: #fcdee9;
$rosewood-30: #edb0c6;
$rosewood-40: #cb7a97;
$rosewood-50: #ab466a;
$rosewood-60: #781639;
$rosewood-70: #650210;
$rosewood-80: #44041b;
$rosewood-90: #2d0916;
$rosewood-100: #1e000b;

$blue-10: #f3fbff;
$blue-20: #cdefff;
$blue-30: #8fdaff;
$blue-40: #5fc5ff;
$blue-50: #49b1fe;
$blue-60: #4298fc;
$blue-70: #1471fb;
$blue-80: #0448ad;
$blue-90: #042a63;
$blue-100: #001a26;

$orange-10: #fffcfa;
$orange-20: #fce6d2;
$orange-30: #f8bd9d;
$orange-40: #edb37e;
$orange-50: #ffa959;
$orange-60: #ef9814;
$orange-70: #ca6e2c;
$orange-80: #b16a00;
$orange-90: #805e2b;
$orange-100: #4a331d;
