@mixin gradient-1 {
  background: linear-gradient(52.19deg, #fff1eb 0%, #f7f5ca 98.95%);
}

@mixin gradient-2 {
  background: linear-gradient(52.19deg, #fff1eb 0%, #f7f5ca 98.95%);
}

@mixin gradient-3 {
  background: linear-gradient(
    90.38deg,
    #f6f9db 0.04%,
    #f6f9db 0.05%,
    #d9f9e8 99.39%
  );
}

@mixin gradient-4 {
  background: linear-gradient(
    53.61deg,
    #d9f9ef 0%,
    #d9f9ef 0.01%,
    #d6e0fc 99.94%
  );
}

@mixin gradient-5 {
  background: linear-gradient(128.49deg, #e5f4ff 0%, #f9e9ff 100%);
}

@mixin gradient-6 {
  background: linear-gradient(128.49deg, #f0d7fa 0%, #fbe6e6 100%);
}

@mixin gradient-7 {
  background: linear-gradient(130.41deg, #f9e7fe 2.14%, #dafcfc 101.31%);
}

@mixin gradient-8 {
  background: linear-gradient(231.51deg, #e6fff7 0%, #e4ffe0 100%);
}

@mixin gradient-9 {
  background: linear-gradient(52.19deg, #ffc2c2 0%, #ffd7a8 98.95%);
}

@mixin gradient-10 {
  background: linear-gradient(0deg, #ffd8c2 0%, #f8eba6 100%);
}

@mixin gradient-11 {
  background: linear-gradient(51.51deg, #9aeabf 0%, #eaf6a3 100%);
}

@mixin gradient-12 {
  background: linear-gradient(308.49deg, #a0bef8 0%, #b5f0f0 100%);
}

@mixin gradient-13 {
  background: linear-gradient(128.49deg, #9ec5ff 0%, #e1a6f8 100%);
}

@mixin gradient-14 {
  background: linear-gradient(179.75deg, #e1adfa 0.46%, #fcb4b4 99.71%);
}

@mixin gradient-15 {
  background: linear-gradient(129.28deg, #ddabf4 0%, #93d7f4 101.28%);
}

@mixin gradient-16 {
  background: linear-gradient(129.28deg, #ddabf4 0%, #93d7f4 101.28%);
}

@mixin gradient-17 {
  background: linear-gradient(90deg, #ff5d5d 0%, #ffb648 100%);
}
